<form [formGroup]="TarefaForm" (ngSubmit)="inserir()">





  <p>Título: <input type="text" formControlName="titulo"></p>
  <p>Descrição: <input type="text" formControlName="descricao"></p>
  <p>Data de vencimento <input type="date" formControlName="dataVencimento"></p>
  <button type="submit">Enviar</button>


</form>


<h2>Listar </h2>

<ul>
  @for (item of tarefas; track $index){
  <li> {{item.id}} - {{item.titulo}} - {{item.descricao}} - {{item.dataVencimento | date: 'dd/MM/yyyy'}}
    <input type="button" value="remover" (click)="remover(item.id)"> </li>
  }
</ul>
